/* Estilo Geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: blueviolet;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-contato button:hover{
    transform: scale(1.10);
}
/* Estilo Cabeçalho */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: blueviolet;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header nav{
    padding-left: 150px;
}


/* Estilo Topo do Site */

section.topo-site{
    padding: 40px 4%;
}

.text-top h1{
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    padding-bottom: 20px;
}

.text-top p{
    color: aliceblue;
    padding-bottom: 40px;
    text-align: justify;
}

section.topo-site .flex{
    align-items: center;
    justify-content: center;
}

/* Estilo Especialidades */

section.especialidades{
    padding: 40px 4%;
}

.especialidades .especialidades-box{
    color: aliceblue;
    padding: 40px;

}

.especialidades .especialidades-box img{
    width: 100px;
    height: 100px;
}

.especialidades .interface .flex{
    display: flex;
    justify-content: center;
}

.especialidades-box p{
    display: flex;
    justify-content: center;
    text-align: justify;
}

/* Estilo Projetos */

.projetos{
    padding-top: 80px;
}

.projetos .interface .Demoquerycy{
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;

}

.Demoquerycy .title{
    padding-right: 200px;
    padding-left: 100px;
    font-size: 35px;
}

.Demoquerycy .text{
    text-align:justify;
}

.projetos .interface .solomon{
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
    padding-top: 150px;
}

.solomon .title{
    padding-right: 130px;
    padding-left: 100px;
    font-size: 30px;
    text-align: justify;
}

/* Estilo Formação */

.formacao{
    padding-top: 80px;
    color: aliceblue;
}

.formacao .flex{
    display: flex;
    justify-content: space-around;
}

.formacao .flex .title{
    font-size: 28px;
    color: aliceblue;
}

/* Estilo habilidades */

.habilidades{
    padding-top: 80px;
    color: aliceblue;
}

.habilidades .interface .flex{
    display: flex;
    justify-content: space-around;
}


/* esitlo contato */

.contato{
    display: flex;
    justify-content: center;
}

.contato .interface .flex .text-top p img{
    height: 20px;
    width: 20px;
}

.contato .interface .flex .text-top p a{
    text-decoration: none;
    color: blueviolet;
}